name: Integration Tests

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - '**'

concurrency:
  group: ${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  integration-tests:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        clickhouse-version: ["24.3", "25.11"]
    steps:
      - name: Mask secure properties
        run: |
          echo "::add-mask::${{ secrets.CLICKHOUSE_PASSWORD }}"
          echo "::add-mask::${{ secrets.CLICKHOUSE_CLOUD_SECRET }}"
      - uses: actions/checkout@b80ff79f1755d06ba70441c368a6fe801f5f3a62 # v4
      - name: Set up JDK 17
        uses: actions/setup-java@28b532bcb39ad928b00bc3cbce25c94d11654854 # v4
        with:
          java-version: '17'
          distribution: 'temurin'
          architecture: x64
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@139da3f2c5174a7698c467b54377a8e20fb7bada # v3
      - name: Run integration tests
        run: |
          ./gradlew integrationTest --info -D clickhouse.version=${{ matrix.clickhouse-version }} 
      - name: Upload integration test report on failure
        if: failure()
        uses: actions/upload-artifact@5e05c8e5e66c81831c8d69e0c8b6226c77a0b32c # v4
        with:
          name: integration-test-report-${{ matrix.clickhouse-version }}
          path: |
            **/build/reports/tests/integrationTest/
            **/build/test-results/integrationTest/
